* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e272e;
    overflow-x: hidden;
}
h1 {
    font-size: 50px;
    color: white;
}
p {
    font-size: 20px;
    color: white;
}
.orange-text-color {
    color: orange;
}
#mysidenav a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px 0 0 10px ; 
}
#mysidenav a:hover {
    right: 0;
}
#home-nav {
    top: 20px;
    background-color: orangered;
}
#about-nav {
    top: 90px;
    background-color: cornflowerblue;
}
#services-nav {
    top: 160px;
    background-color: olive;
}
#contact-nav {
    top: 230px;
    background-color: blueviolet;
}
.flexible-container {
    display: flex;
    margin-bottom: 300px;
    }
.top-banner {
    background-image: url(../images/bg/bg.png);
    background-repeat: no-repeat;
}
.second-banner {
    background-color:#2C3A47;
    padding-bottom: 150px;
    padding-top: 70px;
}
.menu-banner {
    background-image: url(../images/bg/bg-circle.png);
    background-repeat: no-repeat;
    
}
.half-width {
    width: 60%;
    margin-top: 100px;
    padding-left: 15%;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin-top: 30px;
    display: inline-block;
}
.link-btn:hover {
    opacity: 0.9;
}
.top-text-info {
    margin-top: 300px;
}
.top-img {
    margin: 130px 120px 0 0;
}
#top-left-banner {
    background-image: url(../images/bg/bg-shape-traingle.png);
    background-repeat: no-repeat;
    background-position: right;

}
#top-right-banner {
    background-image: url(../images/bg//bg-circle.png);
    background-repeat: no-repeat;

}
#second-img {
    margin-top: 250px;
}
.second-text-info {
    margin-right: 15%;
    margin-top: 200px;
    text-align: justify;
}
#second-left-banner {
    background-image: url(../images/bg/bg-2.png);
    background-repeat: no-repeat;

}
#second-right-banner {
    background-image: url(../images/bg/bg-shape-round.png);
    background-repeat: no-repeat;

}
.menu-text {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.flex {
    display: flex;
    padding: 80px;
}
.flex img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.flex p {
    color: black;
    font-size: 20px;
    margin-top: 20px;
}
.flex h2 {
    font-size: 30px;
}
.food-box {
    background-color: white;
    width: 33%;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: rgba(89, 119, 252, 0.5) 0px 14px 28px;
}
.flex-details {
    margin-top: 30px;
}
.contact-text {
    text-align: center;
    margin-top: 100px;
    background-image: url(../images/bg/bg-shape-line-yellow.png);
    background-repeat: no-repeat;
}
#frame {
    margin-top: 100px;
}
.map {
    filter: grayscale(100%) invert(92%)
}
#follow-text {
    color: white;
    text-decoration: none;
    font-size: 18px;
    vertical-align: bottom;
    padding: 20px;
}
#social {
    list-style: none;
}
.social-link {
    text-decoration: none;
    text-align: center;
}
.social-link img {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    vertical-align: middle;
}
.social-link img:hover {
    opacity: 0.9;
}
#brand-name {
    text-align: center;
    color: aquamarine;
    margin-top: 200px;
    padding-top: 50px;
}
hr {
    margin: 10px 25% 0 25%;
}
footer p {
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
}
.footer-section {
    background-color: #2C3A47;
    margin-top: 100px;
    padding-bottom: 50px;
}